<div class="container">
  <div class="row">
    <div class="col-12">
      <app-game-control
        (newItemEvent)="incrementNumberAdded($event)"
        (stopEvent)="stopAdded($event)"></app-game-control>
      <div class="row mt-4">
        <div class="col-12">
          <h2>These are odd and event number</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <app-odd *ngFor="let oddNumber of oddArr"
                   [oddFromParen]="oddNumber"></app-odd>
        </div>
        <div class="col-6">
          <app-even *ngFor="let evenNumber of evenArr"
                    [evenFromParent]="evenNumber"></app-even>
        </div>
      </div>
    </div>
  </div>
</div>
