<app-list-todo></app-list-todo>

<div class="animate-pulse" *ngIf="loading">
  <div class="relative mt-6">
    <span class="block h-[3.125rem] bg-gray-100 rounded-lg"></span>
  </div>
  <hr class="my-4 border-gray-100">
  <h3 class="h-8 bg-gray-100 w-14 rounded-lg mb-3"></h3>
  <div class="space-y-3">
    <span class="block h-12 bg-gray-100 rounded-lg"></span>
    <span class="block h-12 bg-gray-100 rounded-lg"></span>
    <span class="block h-12 bg-gray-100 rounded-lg"></span>
  </div>
</div>

<router-outlet></router-outlet>

<hr class="my-4 border-gray-200">
