<app-list-todo></app-list-todo>

<div class="animate-pulse box-border container mx-auto px-4 mt-4" *ngIf="loading">
    <div class="relative mt-6">
        <span class="block h-[3.125rem] bg-gray-100 rounded-md"></span>
    </div>
    <hr class="my-4 border-gray-100" />
    <h3 class="h-8 bg-gray-100 w-14 rounded-md mb-3"></h3>
    <div class="space-y-3">
        <span class="block h-12 bg-gray-100 rounded-md"></span>
        <span class="block h-12 bg-gray-100 rounded-md"></span>
        <span class="block h-12 bg-gray-100 rounded-md"></span>
        <span class="block h-12 bg-gray-100 rounded-md"></span>
        <span class="block h-12 bg-gray-100 rounded-md"></span>
        <span class="block h-12 bg-gray-100 rounded-md"></span>
        <span class="block h-12 bg-gray-100 rounded-md"></span>
    </div>
</div>

<router-outlet></router-outlet>

<div class="box-border container mx-auto px-4 mt-4">
    <hr class="my-4 border-gray-200" />
</div>
