<h4 class="text-2xl mb-2">Assignment works!</h4>
<form class="space-y-4" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <div id="userData" class="space-y-4">
    <div class="text-gray-700">
      <label class="block mb-1" for="projectName">Project name</label>
      <input type="text"
              formControlName="projectName"
              id="projectName"
              name="projectName"
              class="w-full h-10 px-3 text-base placeholder-gray-600 border rounded-lg focus:shadow-md"
              placeholder="Project Name">
    </div>
    <div class="text-gray-700">
      <label class="block mb-1" for="email3">Mail</label>
      <input type="email"
              formControlName="email"
              id="email3"
              name="email"
              class="w-full h-10 px-3 text-base placeholder-gray-600 border rounded-lg focus:shadow-md"
              placeholder="Email Address">
    </div>
  </div>
  <div class="text-gray-700 inline-block w-full">
    <label for="status"
            class="block mb-1">Project Status</label>
    <div class="relative">
      <select name="status"
              formControlName="status"
              id="status"
              class="w-full h-10 pl-3 pr-6 text-base placeholder-gray-600 bg-white border rounded-lg appearance-none focus:shadow-md">
        <option *ngFor="let st of status"
                [value]="st">
                {{st}}
        </option>
      </select>
      <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
        <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20"><path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" fill-rule="evenodd"></path></svg>
      </div>
    </div>
  </div>
  <button class="h-10 px-5 bg-green-700 hover:bg-green-800 text-green-100 transition-colors duration-150 rounded-lg focus:shadow-md"
          type="submit">
    Submit
  </button>
</form>
