<div class="container mt-4">
    <div class="row">
      <div class="col-xs-12 col-md-6 offset-md-3">
        <div class="alert alert-danger" *ngIf="error">
           <span>{{ error }}</span> 
        </div>
        <div *ngIf="isLoading" class="text-center">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <form #authForm=ngForm (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input
                id="exampleInputEmail1"
                type="email"
                class="form-control"
                aria-describedby="emailHelp"
                name="email"
                required
                ngModel
                email
                #email="ngModel"
            >
            <div id="emailHelp" class="form-text" *ngIf="email.invalid && email.touched">A good email adress required</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input
            id="exampleInputPassword1"
                type="password"
                class="form-control"
                name="password"
                required
                ngModel
                minlength="6"
                #password="ngModel"
            >
            <div id="passwordHelp" class="form-text" *ngIf="password.invalid && password.touched">A goed password is required</div>
          </div>
          <div>
              <button type="submit" class="btn btn-primary" [disabled]="authForm.invalid">{{ isLoginMode ? 'Login' : 'Sign Up' }}</button> |
              <button type="button" class="btn btn-secondary" (click)="onSwitchMode()" >Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>  