<h3 class="text-2xl font-bold text-center text-gray-400">Signup to use EASY-LIST </h3>
<form (ngSubmit)="onSubmit()" #signInForm="ngForm">
  <div class="mt-4">
    <div class="flex flex-wrap -mx-2 space-y-4 md:space-y-0">
      <div class="w-full px-2 md:w-1/2">
        <label class="block text-gray-600" for="name">First name</label>
        <input
          class="px-3 py-3 mt-2 placeholder-blueGray-300 text-gray-600 relative
              bg-white rounded text-base border border-gray-300 outline-none
              focus:outline-none focus:ring-2 focus:ring-blue-400
              focus:border-transparent w-full"
          type="text"
          id="name"
          name="name"
          ngModel
          required
          placeholder="Name"
          #name="ngModel"
        />
      </div>
      <div class="w-full px-2 md:w-1/2">
        <label class="block text-gray-600" for="lastName">Last name</label>
        <input
          class="px-3 py-3 mt-2 placeholder-blueGray-300 text-gray-600 relative
              bg-white rounded text-base border border-gray-300 outline-none
              focus:outline-none focus:ring-2 focus:ring-blue-400
              focus:border-transparent w-full"
          type="text"
          id="lastName"
          name="lastName"
          ngModel
          required
          placeholder="Last name"
          #lastName="ngModel"
        />
      </div>
    </div>
    <span
      *ngIf="name.invalid && name.touched || lastName.invalid && lastName.touched"
      class="text-xs tracking-wide text-red-600"
    >
          First name field and Last name field are required
        </span>
    <div class="mt-4">
      <label class="block text-gray-600" for="email">Email</label>
      <input
        id="email"
        class="px-3 py-3 mt-2 placeholder-blueGray-300 text-gray-600 relative
            bg-white rounded text-base border border-gray-300 outline-none
            focus:outline-none focus:ring-2 focus:ring-blue-400
            focus:border-transparent w-full"
        type="email"
        placeholder="Email"
        name="email"
        required
        ngModel
        email
        #email="ngModel"
      >
    </div>
    <span
      *ngIf="email.invalid && email.touched"
      class="text-xs tracking-wide text-red-600"
    >
          Email field is required
        </span>
    <div class="mt-4">
      <label
        class="block text-gray-600"
        for="password"
      >
        Password
      </label>
      <input
        id="password"
        class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none
            focus:ring-1 focus:ring-blue-600"
        type="password"
        placeholder="Password"
        name="password"
        required
        ngModel
        #password="ngModel"
      >
    </div>
    <span
      *ngIf="password.invalid && password.touched"
      class="text-xs tracking-wide text-red-600"
    >
          Password field is required
        </span>
    <div class="flex items-baseline justify-between flex-wrap">
          <span class="flex justify-between">
            <button
              [disabled]="signInForm.form.invalid"
              [ngClass]="{'hover:bg-blue-400 cursor-pointer': !signInForm.form.invalid,
                          'cursor-not-allowed': signInForm.form.invalid}"
              class="px-6 py-2 mt-4 text-white bg-blue-500
              rounded-lg disabled:opacity-50"
              type="submit"
            >
              Account maken
            </button>
            <button
              class="px-6 py-2 mt-4 text-gray-600 rounded-lg
              hover:text-gray-400"
              type="button"
              (click)="onSignIn()"
            >
              Login
            </button>
          </span>
    </div>
  </div>
</form>
