<app-new-todo></app-new-todo>
<hr class="my-4 border-stone-200">
<h3 class="font-bold text-2xl">Todo</h3>

<li class="my-3 font-light text-medium" *ngIf="todos.length < 1">Nothing to do :)</li>
<li class="item my-3 px-3 py-3 odd:bg-cyan-100 flex rounded-lg" *ngFor="let todo of todos; let i = index">
  <span class="mr-1 text-slate-700">{{ i + 1 }} -</span>
  <span class="cursor-pointer capitalize ml-1 text-slate-700"
        (click)="onSetToComplete(i)"
        [ngClass]="{'italic line-through': todo.completed}"> {{ todo.content }}</span>
  <span class="ml-auto pl-2 border-l-2 border-slate-300" (click)="onSetToInactive(i)">
              <svg class="fill-pink-400 " xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="">
                <path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
      </span>
</li>
