<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/recipes" routerLinkActive="active">Recipe Book</a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse"
         [class.collapse]="collapsed"
         id="navbarSupportedContent"
          (window:resize)="collapsed = true">
      <ul class="navbar-nav mb-2 me-auto mb-lg-0">
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class="nav-link"
             aria-current="page"
             routerLink="auth" routerLinkActive="active">Authenticate</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link"
             aria-current="page"
             routerLink="recipes" routerLinkActive="active">Recipes</a>
        </li>
        <li class="nav-item me-auto">
          <a class="nav-link"
             routerLink="shopping-list" routerLinkActive="active"
          >Shopping List</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated"> 
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li appDropdown
                class="nav-item dropdown">
              <a class="nav-link dropdown-toggle pointer"
                 id="navbarDropdown"
                 role="button"
                 data-bs-toggle="dropdown"
                 [attr.aria-expanded]="show">Manage</a>
              <ul class="dropdown-menu"
                  aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item pointer" (click)="onSaveData()">Save Data</a></li>
                <li><a class="dropdown-item pointer" (click)="onFetchData()">Fetch Data</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item pointer" (click)="onLogout()" >Log out</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

