<!-- <nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-gray-300 mb-6">
    <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
        <div
            class="w-full relative flex justify-between lg:w-auto px-4 lg:static lg:block lg:justify-start">
            <a
                class="text-xl font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white"
                [routerLink]="brandUrl">
                {{ brand }}
            </a>
            <button
                class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
                type="button">
                <span class="block relative w-6 h-px rounded-sm bg-white"></span>
                <span class="block relative w-6 h-px rounded-sm bg-white mt-1"></span>
                <span class="block relative w-6 h-px rounded-sm bg-white mt-1"></span>
            </button>
        </div>
        <div class="lg:flex flex-grow items-center" id="example-navbar-warning">
            <ul class="flex flex-col lg:flex-row list-none ml-auto">
                <li class="nav-item" *ngIf="loggedIn">
                    <a
                        class="px-3 py-2 flex items-center text-base uppercase font-bold leading-snug text-white hover:opacity-75"
                        routerLinkActive="hover:opacity-100">
                        <span
                            class="ml-2 border-white cursor-pointer"
                            routerLinkActive="border-b-2 border-white pointer-events-none"
                            routerLink="/activeTodo">
                            Active Todo
                        </span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="loggedIn">
                    <a
                        class="px-3 py-2 flex items-center text-base uppercase font-bold leading-snug text-white hover:opacity-75"
                        routerLinkActive="hover:opacity-100">
                        <span
                            class="ml-2 cursor-pointer"
                            routerLinkActive="border-b-2 border-white pointer-events-none"
                            routerLink="/deletedTodo">
                            Deleted todo
                        </span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="loggedIn">
                    <a
                        class="flex items-center text-base uppercase font-bold leading-snug text-white hover:opacity-75"
                        routerLinkActive="hover:opacity-100">
                        <span
                            class="ml-2 cursor-pointer border border-white px-4 py-2"
                            (click)="onLogout()">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<div class="border-b-2 border-gray-100">
    <nav class="container flex items-center mx-auto px-4 h-16">
        <div class="w-full relative">
            <a class="flex items-center justify-start text-base font-bold leading-relaxed mr-4 py-2 whitespace-nowrap uppercase text-rose-400" [routerLink]="brandUrl">
                <span class="flex text-rose-400">
                    <svg class="fill-current block h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M323.5 51.25C302.8 70.5 284 90.75 267.4 111.1C240.1 73.62 206.2 35.5 168 0C69.75 91.12 0 210 0 281.6C0 408.9 100.2 512 224 512s224-103.1 224-230.4C448 228.4 396 118.5 323.5 51.25zM304.1 391.9C282.4 407 255.8 416 226.9 
                        416c-72.13 0-130.9-47.73-130.9-125.2c0-38.63 24.24-72.64 72.74-130.8c7 8 98.88 125.4 98.88 125.4l58.63-66.88c4.125 6.75 7.867 13.52 11.24 19.9C364.9 290.6 353.4 357.4 304.1 391.9z"/></svg>
                </span>
                <span class="ml-2">
                    {{ brand }}
                </span>
            </a>
        </div>
        <div class="w-full relative flex justify-end">
            <a href="#" class="px-3 py-2 flex items-center text-sm leading-snug text-gray-400 hover:opacity-75">
                Active Todo
            </a>
            <button class="relative border rounded-md" type="button">
                <div class="flex justify-center items-center p-2 hover:opacity-75">
                    <span class="flex text-gray-400">
                        <svg class="fill-current block h-3 w-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z"/></svg>
                    </span>
                    <span class="flex text-gray-400 ml-2">
                        <svg class="fill-current block h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 128c39.77 0 72 32.24 72 72S295.8 272 256 272c-39.76 0-72-32.24-72-72S216.2 128 256 128zM256 448c-52.93 0-100.9-21.53-135.7-56.29C136.5 349.9 176.5 320 224 320h64c47.54 0 87.54 29.88 103.7 71.71C356.9 426.5 308.9 448 256 448z"/></svg>
                    </span>    
                </div>
                <ul class="absolute flex flex-col items-start p-2 z-30 min-w-[10rem] right-0 top-12 bg-white shadow-md" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="py-2 text-sm leading-snug text-gray-400 hover:opacity-75" href="#">Deleted todo</a>
                    </li>
                    <li class="w-full">
                        <hr class="border-t-2 border-gray-100 my-2">
                    </li>
                    <li>
                        <a class="py-2 text-sm leading-snug text-gray-400 hover:opacity-75" href="#">Logout</a>
                    </li>
                </ul>
            </button>
        </div>
    </nav>
</div>



