<div class="row">
  <div class="col-6">
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let server of servers">
        <a [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"
        fragment="loading">{{server.name}}</a>
      </li>
    </ul>
  </div>
  <div class="col-6">
    <router-outlet></router-outlet>
    <!--<button class="btn btn-primary" (click)="onReload()">Reload</button>

    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>-->
  </div>
</div>
