<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-secondary">New Recipe</button>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-12">
    <div class="card mb-4"
         *ngFor="let recipe of recipes">
      <img [src]="recipe.imagePath" class="card-img-top img-fluid" alt="{{recipe.name}}">
      <div class="card-body">
        <h5 class="card-title">{{recipe.name}}</h5>
        <p class="card-text">{{recipe.description}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
