<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="nav">
        <a class="nav-link" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/servers">Servers</a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/users']">Users</a>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
<!--  <div class="row">
    <div class="col-12">
      <app-home></app-home>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-users></app-users>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-servers></app-servers>
    </div>
  </div>-->
</div>
