<div class="flex items-center justify-center min-h-[80vh] relative z-20">
  <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg w-96">
    <div class="flex justify-center text-gray-400 mb-3">
      <svg
        class="fill-current svg-inline--fa fa-rectangle-list block h-8 w-8"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="rectangle-list"
        role="img"
        viewBox="0 0 576 512"
      >
        <path fill="currentColor" d="M0 96C0 60.65 28.65 32 64 32H512C547.3 32 576 60.65 576 96V416C576 451.3 547.3 480 512 480H64C28.65 480 0 451.3 0 416V96zM160 256C160 238.3 145.7 224 128 224C110.3 224 96 238.3 96 256C96 273.7 110.3 288 128 288C145.7 288 160 273.7 160 256zM160 160C160 142.3 145.7 128 128 128C110.3 128 96 142.3 96 160C96 177.7 110.3 192 128 192C145.7 192 160 177.7 160 160zM160 352C160 334.3 145.7 320 128 320C110.3 320 96 334.3 96 352C96 369.7 110.3 384 128 384C145.7 384 160 369.7 160 352zM224 136C210.7 136 200 146.7 200 160C200 173.3 210.7 184 224 184H448C461.3 184 472 173.3 472 160C472 146.7 461.3 136 448 136H224zM224 232C210.7 232 200 242.7 200 256C200 269.3 210.7 280 224 280H448C461.3 280 472 269.3 472 256C472 242.7 461.3 232 448 232H224zM224 328C210.7 328 200 338.7 200 352C200 365.3 210.7 376 224 376H448C461.3 376 472 365.3 472 352C472 338.7 461.3 328 448 328H224z"></path></svg>
    </div>
    <h3 class="text-2xl font-bold text-center text-gray-400">Signup to use EASY-LIST </h3>
    <form (ngSubmit)="onSubmit()" #signInForm="ngForm">
      <div class="mt-4">
        <div class="flex flex-wrap -mx-2 space-y-4 md:space-y-0">
          <div class="w-full px-2 md:w-1/2">
            <label class="block text-gray-600" for="name">First name</label>
            <input
              class="px-3 py-3 mt-2 placeholder-blueGray-300 text-gray-600 relative
              bg-white rounded text-base border border-gray-300 outline-none
              focus:outline-none focus:ring-2 focus:ring-blue-400
              focus:border-transparent w-full"
              type="text"
              id="name"
              name="name"
              ngModel
              required
              placeholder="Name"
              #name="ngModel"
            />
          </div>
          <div class="w-full px-2 md:w-1/2">
            <label class="block text-gray-600" for="lastName">Last name</label>
            <input
              class="px-3 py-3 mt-2 placeholder-blueGray-300 text-gray-600 relative
              bg-white rounded text-base border border-gray-300 outline-none
              focus:outline-none focus:ring-2 focus:ring-blue-400
              focus:border-transparent w-full"
              type="text"
              id="lastName"
              name="lastName"
              ngModel
              required
              placeholder="Last name"
              #lastName="ngModel"
            />
          </div>
        </div>
        <span
          *ngIf="name.invalid && name.touched || lastName.invalid && lastName.touched"
          class="text-xs tracking-wide text-red-600"
        >
          First name field and Last name field are required
        </span>
        <div class="mt-4">
          <label class="block text-gray-600" for="email">Email</label>
          <input
            id="email"
            class="px-3 py-3 mt-2 placeholder-blueGray-300 text-gray-600 relative
            bg-white rounded text-base border border-gray-300 outline-none
            focus:outline-none focus:ring-2 focus:ring-blue-400
            focus:border-transparent w-full"
            type="email"
            placeholder="Email"
            name="email"
            required
            ngModel
            email
            #email="ngModel"
          >
        </div>
        <span
          *ngIf="email.invalid && email.touched"
          class="text-xs tracking-wide text-red-600"
        >
          Email field is required
        </span>
        <div class="mt-4">
          <label
            class="block text-gray-600"
            for="password"
          >
            Password
          </label>
          <input
            id="password"
            class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none
            focus:ring-1 focus:ring-blue-600"
            type="password"
            placeholder="Password"
            name="password"
            required
            ngModel
            #password="ngModel"
          >
        </div>
        <span
          *ngIf="password.invalid && password.touched"
          class="text-xs tracking-wide text-red-600"
        >
          Password field is required
        </span>
        <div class="flex items-baseline justify-between flex-wrap">
          <span class="flex justify-between">
            <button
              [disabled]="signInForm.form.invalid"
              [ngClass]="{'hover:bg-blue-400 cursor-pointer': !signInForm.form.invalid,
                          'cursor-not-allowed': signInForm.form.invalid}"
              class="px-6 py-2 mt-4 text-white bg-blue-500
              rounded-lg disabled:opacity-50"
              type="submit"
            >
              Account maken
            </button>
            <button
              class="px-6 py-2 mt-4 text-gray-600 rounded-lg
              hover:text-gray-400"
              type="button"
              (click)="onSignIn()"
            >
              Login
            </button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
