<div class="mx-auto flex">
    <div class="flex leading-none divide-x divide-slate-300">
        <span
            class="px-4 first:pl-0 flex items-center"
            *ngFor="let todo of todos; let i = index">
            <a
                class="cursor-pointer capitalize h-6 flex items-center border-b-2 border-white"
                [routerLink]="['/activeTodo', todo.name]"
                routerLinkActive="border-gray-300">
                <span class="flex relative">
                    <span
                        class="text-emerald-500 flex items-center mr-0.5"
                        *ngIf="newItem && todos.length === i + 1">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true"
                            focusable="false"
                            data-prefix="fas"
                            data-icon="plus"
                            class="svg-inline--fa fa-plus w-3 h-3 block fill-current"
                            role="img"
                            viewBox="0 0 448 512">
                            <path
                                fill="currentColor"
                                d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z" />
                        </svg>
                    </span>
                    <span class="text-gray-600 hover:text-gray-400">{{
                        todo.label
                    }}</span>
                </span>
            </a>
        </span>
    </div>
</div>
