<div class="row mb-5">
  <div class="col-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <button type="submit"
                  class="btn btn-success me-2"
                  [disabled]="recipeForm.invalid">Save</button>
          <button type="button"
                  class="btn btn-danger"
          (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name"
                   formControlName="name">
          </div>
        </div>
        <div class="col-12">
          <div class="mb-3">
            <label for="imagePath" class="form-label">Image URL</label>
            <input type="text" class="form-control" id="imagePath"
                   formControlName="imagePath"
            #imagePath>
          </div>
        </div>
        <div class="col-12" *ngIf="imagePath.value">
          <div class="mb-3">
            <img [src]="imagePath.value" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-12">
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea type="text" class="form-control" id="description" rows="6"
                      formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <div class="row" formArrayName="ingredients">
        <div class="col-12"
             *ngFor="let ingredientCtrl of ingredientsControls; let i = index">
          <div class="row mb-2" [formGroupName]="i">
            <div class="col-8 form-group">
              <input
                type="text"
                class="form-control"
                formControlName="name"
              >
            </div>
            <div class="col-2 form-group">
              <input
                type="number"
                class="form-control"
                formControlName="amount"
               >
            </div>
            <div class="col-2">
              <button type="button"
                      class="btn btn-warning"
                      (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12">
          <button type="button"
                  class="btn btn-primary"
                  (click)="onAddIngredient()">Add Ingredient</button>
        </div>
      </div>
    </form>
  </div>
</div>
