<div class="row">
  <div class="col-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-success me-2">Save</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name"
                   formControlName="name">
          </div>
        </div>
        <div class="col-12">
          <div class="mb-3">
            <label for="imagePath" class="form-label">Image URL</label>
            <input type="text" class="form-control" id="imagePath"
                   formControlName="imagePath">
          </div>
        </div>
        <div class="col-12">
          <div class="mb-3">
            <img src="" class="img-fluid" alt="...">
          </div>
        </div>
        <div class="col-12">
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea type="text" class="form-control" id="description" rows="6"
                      formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8 form-group">
          <input
            type="text"
            class="form-control">
        </div>
        <div class="col-2 form-group">
          <input
            type="number"
            class="form-control">
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-success">X</button>
        </div>
      </div>
    </form>
  </div>
</div>
