<h3 class="font-bold text-xl text-gray-600">Deleted Todo</h3>
<ul class="todo-items">
    <li class="my-3 font-light text-medium text-gray-600" *ngIf="todos.length < 1">
        You have nothing done yet!
    </li>
    <li
        class="item my-3 px-3 py-3 odd:bg-sky-50 even:bg-white flex rounded-lg"
        *ngFor="let inActive of todos; let i = index">
        <span class="mr-1 text-gray-700"> {{ i + 1 }} - </span>
        <span class="capitalize ml-1 text-gray-700">
            {{ inActive.todo.content }}
            <span
                class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-slate-100 bg-slate-400 rounded-full">
                {{ inActive.label }}
            </span>
        </span>
        <span class="flex items-center ml-auto pl-2 text-gray-400 cursor-pointer">
            <span class="border-l-2 border-gray-200 px-2" (click)="onSetToActive(i)">
                <svg
                    class="svg-inline--fa fa-share fa-w-16 block h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="share"
                    role="img"
                    viewBox="0 0 512 512">
                    <path
                        fill="currentColor"
                        d="M503.691 189.836L327.687 37.851C312.281 24.546 288 35.347 288 56.015v80.053C127.371 137.907 0 170.1 0 322.326c0 61.441 39.581 122.309 83.333 154.132 13.653 9.931 33.111-2.533 28.077-18.631C66.066 312.814 132.917 274.316 288 272.085V360c0 20.7 24.3 31.453 39.687 18.164l176.004-152c11.071-9.562 11.086-26.753 0-36.328z" />
                </svg>
            </span>
        </span>
    </li>
</ul>
